html {
    background-color: rgb(32, 42, 52);
    font-family: 'Noto Sans',sans-serif;
    color: rgb(212, 212, 212);
}

h1 {
    margin-top: 200px;
}

h1, body > h2 {
    text-align: center;
}

.button {
    border: none;
    width: 200px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    color: rgb(212, 212, 212);
    border-radius: 5px;
}

#chromeStore {
    background-color: #e31b53;
}

#github {
    background-color: rgb(36, 41, 46);
}

#menu {
    margin-top: 100px;
    margin-bottom: 300px;
    text-align: center;
}

img {
    border: 1px rgb(26, 31, 36) solid;
    width: 50%;
    height: auto;
    position: absolute;
    padding-left: 20px;
}

.imageDescription > p, .imageDescription > h2 {
    padding-left: 55%;
    font-size: 20px;
}

#desc1 > p, #desc1 > h2 {
    transform: translateY(200px);
}

#desc2 > p, #desc2 > h2 {
    transform: translateY(300px);
}

div {
    margin-bottom: 30%;
}