html {
    background-color: rgb(32, 42, 52);
    font-family: 'Noto Sans',sans-serif;
    color: rgb(212, 212, 212);
}

h1 {
    margin-top: 200px;
}

h1, body > h2 {
    text-align: center;
}

.button {
    border: rgb(212, 212, 212) 1px solid;
    width: 200px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
    color: rgb(212, 212, 212);
    border-radius: 5px;
}

#chromeStore {
    background-color: #e31b53;
}

.github {
    background-color: rgb(36, 41, 46);
}

.main {
    background-color: #e31b53;
}

#menu {
    margin-top: 100px;
    margin-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    margin-left: 20px;
}

.imageDescription {
    display: flex;
    margin-top: 5em;
}

.imageDescription > img {
    width: 45vw;
    margin-right: 5em;
    border: 1px rgb(26, 31, 36) solid;
    height: auto;
    float: left;
}

.imageDescription > div {
    width: 54vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imageDescription:nth-child(even) > img {
    order: 1;
}

.imageDescription:nth-child(even) > div {
    order: 0;
}

#example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    div {
        display: flex;
        flex-direction: column;
    }
    div > * {
        width: 95% !important;
        margin-left: 2.5%;
    }
    #menu {
        margin-bottom: 200px;
    }
    .imageDescription {
        margin-top: 7.5em;
    }
    .imageDescription > img {
        order: 1;
    }
    .imageDescription > div {
        order: 0;
        margin-bottom: 2em;
    }
}

footer img {
    width: 30px;
    height: auto;
    float: right;
    margin-bottom: 5px;
}